

<h1> <%= fishtank %> </h1>

<form action="/rsvp/" method="post" >    
    <input type="text" name="email" id="email">
    <input type="password" name="" id="password">
    <input type="date" name="" id="date-start">
    <input type="time" name="" id="time-start">
    <input type="time" id="time-end">
    <button type="submit">Submit</button>
</form>







